body{
    background-color: rgb(235, 222, 222);
}

.avl{
    color: yellow;
    background-color: darkgrey;
}

.card{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px lightgrey;
    margin: 1em;
    width: 400px;
}

.card header{
    border: 1px solid lightblue;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.card img{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.description{
    margin-left: .5em;
    margin-right: .5em;
    text-align: justify;
}

h1{
    color: rosybrown;
    margin-bottom: 1.5em;
    margin-top: 1em;
    text-align: center;
}

h4, h5{
    margin: auto auto .25em .5em;
}

.row{
    display: flex;
    flex-direction: row;
}

.spec p, .price p{
    font-size: .8em;
    font-weight: bold;
    margin: .25em .25em .25em 1.25em;
}

.spec footer{
    font-size: .6em;
    margin-bottom: .5em;
}