.avl{
    color: #FFC107;
    background-color: #757575;
    padding-left: .25em;
}

body{
    background-color: #CFD8DC;
    font-family: 'Livvic', 'Montserrat', 'san serif';
}

.card{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px #607D8B;
    margin: 1em;
    width: 400px;
}

#card2{
    position: relative;
}

.card header{
    background-color: #455A64;
    border: 1px solid #CFD8DC;
    border-radius: 15px 15px 0 0;
    color: #FFC107;
    text-align: center;
}

.card img{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.description{
    margin-left: .5em;
    margin-right: .5em;
    text-align: justify;
}

h1{
    color: #455A64;
    font-family: 'Livvic', 'Montserrat', 'san serif';
    margin-bottom: 1.5em;
    margin-top: 1em;
    text-align: center;
}

h4, h5{
    margin: auto auto .25em .5em;
}

.rowContainer{
    display: flex;
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}

.soldout{
    position: absolute;
    padding: 12%;
}

.spec p, .price p{
    font-size: .8em;
    font-weight: bold;
    margin: .25em .25em .25em 1.25em;
}

.spec footer{
    font-size: .6em;
    margin-bottom: .5em;
}

@media screen and (max-width: 1350px) {
    
    .card {
        width: 300px;
    }
}

@media screen and (min-width: 1650px) {
    .rowContainer {
        margin-left: auto;
        margin-right: auto; 
        width: 1650px;
    }
}